 
.icon-android {
	background-image: url('png/android.png');
	background-repeat: no-repeat;
}

 
.icon-apple {
	background-image: url('png/apple.png');
	background-repeat: no-repeat;
}

 
.icon-chrome {
	background-image: url('png/chrome.png');
	background-repeat: no-repeat;
}

 
.icon-css3 {
	background-image: url('png/css3.png');
	background-repeat: no-repeat;
}

 
.icon-facebook-square {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

 
.icon-firefox {
	background-image: url('png/firefox.png');
	background-repeat: no-repeat;
}

 
.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

 
.icon-html5 {
	background-image: url('png/html5.png');
	background-repeat: no-repeat;
}

 
.icon-ie {
	background-image: url('png/ie.png');
	background-repeat: no-repeat;
}

 
.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

 
.icon-mail {
	background-image: url('png/mail.png');
	background-repeat: no-repeat;
}

 
.icon-opera {
	background-image: url('png/opera.png');
	background-repeat: no-repeat;
}

 
.icon-reddit {
	background-image: url('png/reddit.png');
	background-repeat: no-repeat;
}

 
.icon-safari {
	background-image: url('png/safari.png');
	background-repeat: no-repeat;
}

 
.icon-stackoverflow {
	background-image: url('png/stackoverflow.png');
	background-repeat: no-repeat;
}

 
.icon-super-user {
	background-image: url('png/super-user.png');
	background-repeat: no-repeat;
}

 
.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

 
.icon-wordpress {
	background-image: url('png/wordpress.png');
	background-repeat: no-repeat;
}

