.main_interior {
	max-width: 50em;
	margin: 0 auto;
}

.header_interior {
  	background: rgba(255,255,255,.95);
  	border-bottom: 1px solid #ddd;
  	box-shadow: 0 1px 1px rgba(0,0,0,.1);
  	margin-bottom: rhythm(1);
 	padding: 1em;
 	text-align: center;
 	
 	.header_title_wrap {
 		max-width: 50em;
 		margin: 0 auto;
		@extend .clearfix;
	}
 	.eggatar {
 		margin-bottom: rhythm(1);	
 	}
 	.workTitle {
		text-align: center;
		h1,p {
			margin: 0;
		}
		p {
 			@include adjust-font-size-to(18px);
		}
	}

	figure {
		margin: rhythm(1) 0 0 0;
	}

 	@media screen and (min-width: 50em) {
    	.eggatar {
 			float: left;
 			margin: 0.35em 0;
 		}
 		.workTitle {
		  	float: left;
		  	margin: 0 0 0 1em;
		  	text-align: left;
			h1,p {
				margin: 0;
			}
			p {
 				@include adjust-font-size-to(22px);
			}
		}
		
  	}
}


.footer_interior {
	background: $background;
  	border-top: 1px solid #ddd;
  	box-shadow: 0 -1px 1px rgba(0,0,0,.1);
  	margin-top: rhythm(2);
 	padding: rhythm(.5);
 	text-align: center;
 	
 	h4 {
 		margin: 0;
 		@include adjust-font-size-to(12px);
 		color: $copy_light;
 		font-weight: 500;
 	}
 	.footer_interior_paginate {
 		margin: 0;
 		padding: 0;
 	}
 	.footer_interior_paginate li {
 		margin: .5em;
	 	list-style: none;
		display: inline-block;
		line-height: 0;
		padding: rhythm(.2);
		background: rgba(255,255,255, .9);
 		border-bottom: 3px solid transparent;
 		width: 44%;
	 	&:hover {
	 		border-bottom: 3px solid $accent;
	 		background: rgba(255,255,255, .7);
	 	}

	 	@media screen and (min-width: 50em) {
	 		width: 22%;
	 	}
 	}
}



.hasCssAnimation {
	.footer_interior_paginate li {
	  	transition: all .3s ease-in-out;
	  	transform: translateY(2em);
	  	opacity: 0;
	}

	.footer_interior h4 {
	  	transition: all .3s ease-in-out;
	  	opacity: 0;
	  	transform: translateX(-2em);
	}

	.footer_interior.in_view {
		.footer_interior_paginate li {
	    	transform: translateY(0);
	    	opacity: 1;
	  	}
		.footer_interior_paginate li:nth-child(2n) {
			transition-delay: .1s;
		}
		.footer_interior_paginate li:nth-child(3n) {
			transition-delay: .15s;
		}
		.footer_interior_paginate li:nth-child(4n) {
			transition-delay: .2s;
		}    
		h4 {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
